h1 {
    font-family: "Bauhaus 93";
    font-size: 50px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #9c251e;
    color: ghostwhite;
}

#mainContent {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 100px 0px;
    flex-grow: 1;
    grid-area: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
    "left center right";
}

#leftContainer {
    grid-area: left;
}

#rightContainer {
    grid-area: right;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#leftContainer img {
    padding-left: 150px;
}

#rightContainer img {
    padding-right: 150px;
}

main a {
    align-content: center;
    text-align: center;
    width: 75%;
    font-size: 50px;
    width: 66%;
    background-color: #9c251e;
    color: ghostwhite;
    border: 10px ghostwhite;
    padding: 10px 0px;
    font-family: "Bauhaus 93";
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: black;

    color: ghostwhite;
    font-family: "Courier New";
    font-weight: bolder;
    font-size: larger;
}

html {
    width: 100%;
    height: 100%;
}

p {
    color: ghostwhite;
    font-family: "Courier New";
    font-weight: bolder;
    font-size: larger;
}

main ul li {
    list-style-type: square;
}

.firstLI {
    list-style-type: none;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #9c251e;
    color: ghostwhite;
}

footer a {
    align-content: center;
    text-align: center;
    width: 75%;
    font-size: 50px;
    width: 66%;
    background-color: #9c251e;
    color: ghostwhite;
    border: 10px ghostwhite;
    padding: 10px 0px;
    font-family: "Bauhaus 93";
    text-decoration: none;
}

#gameCanvas {
    background-color: ghostwhite;
    border: #9c251e 10px solid;
}

#canvasContainer {
    padding: 20px;
}

#gameFooter a {
    align-content: center;
    text-align: center;
    width: 75%;
    font-size: 25px;
    width: 66%;
    background-color: #9c251e;
    color: ghostwhite;
    border: 10px ghostwhite;
    padding: 10px 0px;
    font-family: "Bauhaus 93";
    text-decoration: none;
}

#gameHeader h1 {
    font-family: "Bauhaus 93";
    font-size: 28px;
}